.dialog-overlay {
	-webkit-transition-duration: 100ms;
  	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-property: opacity;

	background: -webkit-radial-gradient(circle, white, black);
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: none;
}

.dialog-wrapper {
	overflow: hidden;

	-webkit-transition-duration: 400ms;
  	-webkit-transition-timing-function: ease-in-out;

	-webkit-transform: scale(0.9);
	opacity: 0;

	box-shadow: 0px 0px 30px 3px #000;

	border: 0px solid transparent;
	border-radius: 10px;
}

.dialog {
	border-radius: 10px;
	border: 4px solid #878787;
}

.dialog .field{
	color: #222;
	margin-bottom: 13px;
	font-size: 13px;
	font-family: Arial;
	min-height: 35px;
	font-weight: bold;
	position: relative;
}

.dialog .field .additional{
	position: absolute;
	right: 0px;
	font-size: 11px;
	font-weight: normal;
}

.dialog .field .additional.additional-top {
   top: 8px;
}

.dialog .field .additional a{
	cursor: pointer;
	color: #4183c4;
	text-decoration: underline;
}

.dialog .field .requiredMark{
	color: #f00;
}

.dialog .field input[type="text"][error="1"], .dialog .field input[type="number"][error="1"], .dialog .field select[error="1"], .dialog .field textarea[error="1"]{
	border-color:  #AA0000;
}

.dialog .field input[type="radio"]{
	margin-right: 5px;
}

.dialog .field input[type="text"], .dialog .field input[type="number"], .dialog .field select, .dialog .field textarea{
	margin-top: 8px;
	border: 1px solid #EEE;
	border-radius: 2px;

	font-size: 14px;
	padding: 2px;
	color: #444;
	font-family: sans-serif;

	width: 100%;

	height: 30px;
}

.dialog .field textarea{
	max-width: 100%;
	max-height: 400px;
	min-height: 150px;
}

.dialog .field input.inline{
	width: auto;
	margin-top: 0px;
}

.field.inline label{
	float: left;
	margin-top: 6px;
}

.field.inline input{
	float: right;
}

.dialog .left-margin-5 {
  margin-left: 5px;
}


.dialog .field input[type="text"]:focus, .dialog .field input[type="number"]:focus, .dialog .field select:focus{
	box-shadow: inset 0px 0px 10px -6px #000;
	border-color: #4e90fe;

	outline: none;
}


.dialog .field input[type="checkbox"]{
	margin-right: 5px;
}

input[autoText]{
	font-style:italic;
}

.dialog-header {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;

	border: 1px solid #555555;
	color: #555;
	text-shadow: 1px 1px 0px #FFF;
	background: #EEEEEE;

	border-bottom: 0px;

	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
}

.dialog-body {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;

	border: 1px solid #555555;
}

.dialog-content {
	padding: 10px;
	background-color: #FFFFFF;
  font-size: 12px;
}

.dialog-actions {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;

	background-color: #eee;
	border-top: 1px solid #CCCCCC;
	padding: 3px 10px;
	text-align: right;
}

.dialog-actions .leftButton{
	float: left;
}



.dialog-button{
	margin-left: 5px;
}

.dialog-errorBox{
	position: absolute;
	z-index: 4000;
	background-color: #AA0000;
	border: 1px solid transparent;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 10px -2px #000;

	opacity: 0;
}

.dialog-errorBox[active="0"]{
	left:-1000px !important;
	top:-1000px !important;
}

.dialog-errorBox[active="1"]{
	opacity: 1;
}

.dialog-errorBox div{
	margin: 5px;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px #CC0000;
}

.dlg-actionbox{
	display: inline-block;
	-webkit-transition-duration: 200ms;
	margin-right: 10px;
	color: #555;
}

#addDialog_wrapper{
	width 414px;
}

#addDialog_wrapper[withPreview="1"]{
	width: 600px !important;
}
