#amazon-info-popup {
	position: absolute;
	left: 100px;
	top: 0px;
	z-index: 3;
	display: none;
	animation-duration: 300ms;
	transition: 100ms ease top, 100ms ease left;
}

#amazon-info-popup[loading='1'] iframe {
	opacity: 0;
}

#amazon-info-popup[visible='1'] {
	display: block;
}

#amazon-info-popup[arrow='left'] {
	padding-left: 10px;
}

#amazon-info-popup[arrow='left']::after {
	content: '';
	position: absolute;
	left: 0px;
	top: 100px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #fff;
}

#amazon-info-popup[arrow='left']::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 100px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 10px solid #ccc;
	margin-top: -2px;
}

#amazon-info-popup[arrow='right'] {
	padding-right: 10px;
}

#amazon-info-popup[arrow='right']::after {
	content: '';
	position: absolute;
	right: 0px;
	top: 100px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fff;
}

#amazon-info-popup[arrow='right']::before {
	content: '';
	position: absolute;
	right: 0px;
	top: 100px;
	margin-top: -2px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 10px solid #ccc;
}

.amazon-info-popup-content {
	position: relative;
	padding: 20px 10px 10px 10px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px -2px #000;
}

#amazon-info-popup[loading='1'] .amazon-info-popup-content {
	background-image: url(/images/newtab/sd_loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.amazon-info-popup-disable {
	position: absolute;
	left: 10px;
	bottom: 5px;
	cursor: pointer;
	color: #888;
}
.amazon-info-popup-disable:hover {
	text-decoration: underline;
}

#amazon-info-popup iframe {
	border: none;
	width: 400px;
	height: 200px;
	transition: 200ms ease width, 200ms ease height;
}

@keyframes amazon-info-popup-appear-arrow-left {
	from {
		opacity: 0;
		margin-left: -80px;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		margin-left: 0px;
		transform: scale(1);
	}
}

@keyframes amazon-info-popup-appear-arrow-right {
	from {
		opacity: 0;
		margin-left: 80px;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		margin-left: 0px;
		transform: scale(1);
	}
}

@keyframes amazon-info-popup-disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
