body:not([displaytype='speeddial']) #dial-search-container {
	z-index: -1;
	visibility: hidden;
}

#speedDialWrapper[expanded='0'] #dial-search-container {
	z-index: -1;
	visibility: hidden;
}

#dial-search-container {
	margin-top: 10px;
	position: relative;
	height: 20px;
	opacity: 0;
	-webkit-transition: 200ms ease opacity;
	display: none;
}

body[scrollingtype='horizontal'] #dial-search-container {
	margin-top: 30px;
}

#dial-search-container[active='1'] {
	opacity: 1;
}

body[dialsearchenabled='1'] #dial-search-container {
	display: block;
}

.dial-search-input input {
	position: absolute;
	opacity: 0;
	-webkit-transition: 200ms ease opacity, 200ms ease width;
	left: 0px;
	top: 0px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background-color: #fff;
	border-radius: 18px;
	padding: 2px;
	width: 18px;
	box-sizing: border-box;
	font-size: 11px;
}

.dial-search-icon {
	width: 18px;
	height: 18px;
	background-image: url(/images/magnifier.png);
	background-size: 16px 16px;
	background-position: 1px 1px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 100%;
	cursor: text;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
}

body[displaymode='standard'] .dial-search-input:not([expanded='1']) .dial-search-icon {
	background-image: url(/images/magnifier_white.png);
	background-color: rgba(0, 0, 0, 0.6);
}

.dial-search-input {
	left: 20px;
	position: absolute;
	width: 18px;
	height: 18px;
	overflow: hidden;
	-webkit-transition: 200ms ease width, 200ms ease height, 200ms ease margin-left;
}

.dial-search-input[expanded='1'] {
	width: 200px;
	height: 21px;
	margin-top: -2px;
	top: 1px;
}

.dial-search-input[expanded='1'] .dial-search-icon {
	background-color: transparent;
	top: 2px;
	left: 2px;
	border: none;
}

.dial-search-input[expanded='1'] input {
	opacity: 1;
	width: 200px;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 17px;
}

.fade-dials-before-search {
	opacity: 0.5;
}

.appear-search-dials-anim {
	-webkit-transition: 200ms ease opacity;
}

.dial-search-reset-icon {
	background: url(/images/simple_close.png);
	background-size: 8px 8px;
	background-position: center center;
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 8px;
	top: 6px;
	cursor: pointer;
	display: none;
}

.dial-search-input[with-text='1'] .dial-search-reset-icon {
	display: block;
}

.dial-search-not-found {
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	position: absolute;
	top: 100px;
	font-size: 16px;
	display: none;
}

.dial-search-not-found-block {
	background: rgba(255, 255, 255, 0.6);
	padding: 10px;
	border-radius: 10px;
	width: 300px;
	margin: auto;
}

body[dial-search-not-found='1'] .dial-search-not-found {
	display: block;
}

.dial-search-not-found a {
	color: #4078c0;
	margin-top: 5px;
	display: inline-block;
}

body[dial-search-not-found='1'] #speedDialContent {
	display: none;
}
