<div id="parallaxOfferOverlay" class="bigInfoDialogOverlay">
	<div class="bigInfoDialog">
		<div class="header">
			<span msg="newtab_offer_parallax_title"></span>
			<div class="close"></div>
		</div>

		<div class="body">
			<div class="imgContainer">
				<img src="/images/newtab/parallax-offer.png" />
			</div>
			<div class="description" msg="newtab_offer_parallax_description"></div>
			<div class="description" msg="newtab_offer_parallax_note"></div>
		</div>

		<div class="buttons">
			<button
				class="fvdButton btnParallax green"
				appear="1"
				msg="newtab_offer_parallax_try_parallax"
			></button>
			<button
				class="fvdButton btnClose next"
				appear="1"
				msg="newtab_offer_parallax_cancel"
			></button>
		</div>
	</div>
</div>
