.bigInfoDialogOverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10;
	opacity: 0;

	-webkit-transition: 200ms ease opacity;
}

.bigInfoDialogOverlay[appear='1'] {
	opacity: 1;
}

.bigInfoDialog {
	width: 700px;
	height: 540px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	position: relative;

	background: #eee;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #000;
}

.bigInfoDialog .header {
	font-size: 15px;
	padding: 15px 0px 15px 25px;
	background: #f5f5f5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #333333;
	text-shadow: 1px 1px 0px #eee;
	border-bottom: 1px solid #f0f0f0;

	text-align: center;
	font-weight: bold;
}

.bigInfoDialog .body {
	position: relative;
	margin: 25px;
}

.bigInfoDialog .buttons {
	position: absolute;
	right: 25px;
	bottom: 10px;
	text-align: left;
}

.bigInfoDialog .buttons > button {
	display: none;

	padding-left: 20px;
	padding-right: 20px;
}

.bigInfoDialog .buttons > button[appear='1'] {
	display: inline;
}

.bigInfoDialog .buttons .next {
	background: -webkit-linear-gradient(90deg, #2989d8, #1e5799);
	border: 1px solid #cddeea;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.bigInfoDialog .close {
	background: url(/images/simple_close.png);
	width: 10px;
	height: 10px;
	position: absolute;

	right: 15px;
	top: 18px;

	cursor: pointer;
}
